* {
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline-color: transparent;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
}

:root {
    --theme-dark: hsl(235, 21%, 11%);
    --theme-light: #f0f7ff;
    --btn-dark-main: hsl(234, 11%, 52%);
    --btn-dark-hover: #fff;
    --btn-light-hover: hsl(235, 21%, 11%);
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    font-weight: 4000;
    -webkit-font-smoothing: antialiased;
}

.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}

.theme-dark {
    background-color: var(--theme-dark);
    color: hsl(234, 39%, 85%);
    transition: all .3s ease-in-out;
}
.theme-dark .btn-theme-hover:hover {
    color: var(--btn-dark-hover);
}
.theme-light {
    background-color: var(--theme-light);
    color: hsl(235, 19%, 35%);
    transition: all .3s ease-in-out;
}
.theme-light .btn-theme-hover:hover {
    color: var(--btn-light-hover);
}
.dark {
    background-color: hsl(235, 24%, 19%);
    color:  hsl(234, 39%, 85%);
    transition: all .3s ease-in-out;
}
.light {
    background-color: #f5faff;
}
.app-content {
    width: 50%;
    height: 100vh;
    padding: 10px 15px;
    margin: 0 auto;
    overflow: hidden;
    z-index: 12;
}

.app-content::after {
    height: 40vh;
    width: 100vw;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    background-image: url('./images/bg-desktop-dark.jpg');
    background-position: center top;
    background-size: cover;
}
.container {
    z-index: 123;
    position: relative;
    display: block;
}
.app-content .app-header {
    position: relative;
    width: 100%;
    padding: 50px 0;
    color: #fff;
}
.app-header .flex {
    justify-content: space-between;
}
.app-title {
    letter-spacing: 4px;
    font-size: 2.5rem;
}
button {
    cursor: pointer;
}

.border-less {
    background-color: transparent;
    border: none;
    font-size: 16px;
}
.todo-add {
    margin: 10px 0;
    position: relative;
}
.todo-add input {
    width: 100%;
    padding: 15px 50px 15px 70px;
    border: 2px solid transparent;
    font-size: 16px;
    border-radius: 5px;
}
.todo-item-wrapper {
    display: block;
    padding: 0 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 15px 0 hsl(233, 22%, 7%);
}
.item-list {
    max-height: 300px;
    overflow-y: scroll;
}
.check-wrapper {
    position: relative;
    margin-right: 15px;
}
.check-wrapper input[type=checkbox]{
    position: absolute;
    opacity: 0;
}
.custome-check {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: linear-gradient(125deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.custome-check:hover {
    cursor: pointer;
}
.custome-check::before {
    position: absolute;
    height: 90%;
    width: 90%;
    content: '';
    top: 1px;
    left: 1px;
    border-radius: 50%;
    background-clip: padding-box;
}
.theme-dark .custome-check::before{
    background: var(--theme-dark);
}
.theme-light .custome-check::before{
    background: var(--theme-light);
}
.theme-light .item-list li.todo-complete {
    text-decoration: line-through;
    color: #838383;
}
.theme-dark .item-list li.todo-complete {
    text-decoration: line-through;
    color: #838383;
}
.todo-complete .custome-check::before {
    background: transparent;
}
.todo-complete .custome-check::after {
    position: absolute;
    width: 8px;
    height: 4px;
    content: '';
    border: 2px solid #fff;
    top: 6px;
    left: 5px;
    border-top: 0;
    border-right: 0;
    transform: rotate(-45deg);
}
.todo-item-wrapper .item-list li {
    padding: 20px 15px;
    font-weight: 500;
    align-items: center;
    border-bottom: 1px solid #cee5ff18;
}
.item-list .todo-title {
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
}
.btn-delete {
    position: absolute;
    right: 20px;
    margin-top: -15px;
    opacity: 0;
}
.item-list li:hover .btn-delete {
    opacity: 1;
}
.todo-footer {
    padding: 15px 10px;
    justify-content: space-between;
    align-items: center;
}
.todo-count,
.todo-footer button {
    font-size: 13px;
    font-weight: 700;
    color: hsl(234, 11%, 52%);
}
button.active {
    color: hsl(220, 98%, 61%);
}
.todo-footer .act-attach button{
    margin: 0 10px;
}
.additional {
    text-align: center;
    margin-top: 50px;
}
.icon-enter {
    width: 30px;
    padding: 2px;
    position: absolute;
    left: 20px;
    top: 10px;
    border: 1px solid #838383;
    border-radius: 20px;
    image-rendering: optimizeQuality;
    -webkit-filter: invert(.8);
            filter: invert(.8);
}
.icon-enter:hover {
    cursor: pointer;
    border-color: #216bdb;
    -webkit-filter: invert(1);
            filter: invert(1);
}

.danger, .info {
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 3px;
    -webkit-animation-name: fadeDown;
            animation-name: fadeDown;
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    transition: all .4s ease-in-out;
}
@-webkit-keyframes fadeDown {
    from {
        margin-top: -20px;
        opacity: 0.4;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}
@keyframes fadeDown {
    from {
        margin-top: -20px;
        opacity: 0.4;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}
.danger {
    background-color: #ffc822c2;
    border-left: 5px solid #ffc107;
}
.info {
    background-color: #229cffc2;
    border-left: 5px solid #078fff;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #216bdb;
    border-radius: 5px;
}

.user-info {
    position: absolute;
    top: 20px;
    left: 50%;
}
@media(max-width: 1199.98px){
    .app-content {
        width: 60%;
    }
}
@media(max-width: 991.98px){
    .app-content {
        width: 70%;
    }
}
@media(max-width: 768px){
    .app-content {
        width: 80%;
    }
}

@media(max-width: 575.98px){
    .app-content {
        width: 100%;
    }
    .theme-dark .act-attach {
        background-color: hsl(235, 24%, 19%);
    }
    .act-attach {
        position: absolute;
        margin-top: 120px;
        padding: 15px 10px;
        left: 0;
        width: 100%;
        border-radius: 5px;
        text-align: center;
    }
    .todo-footer {
        margin-bottom: 80px;
    }
}
